/*****************************
 * top-level stylesheet for subscription flow
 *****************************/
// basically only using the bootstrap stuff for now - move stuff into common.less
// factor stuff out into shared style files as they're shared between app and login
@import "../common.less";

ul.checkmark li:before {
  content:"\2713\0020";
}
ul.checkmark {
  list-style-type: none;
}

.row > :first-child {
  padding-left: 8px !important;
}
.row > :last-child {
  padding-right: 8px !important;
}

.reactivate-plan {
  width: 45%;
  margin: auto;
  @media only screen and (max-width: @screen-md) {
    width: 60%;
  }
  @media only screen and (max-width: @screen-xs) {
    width: 80%;
  }
}
