@import "../common.less";

@navbar-height: 50px;
@navbar-color:#918f90;

@font-size-base: 15px;
@font-family-base: Arial;

// fine-tuning to make sure we don't change things too much with var replacement
// probably doesn't matter too much, though
@gray-lighter: #e9e9e9;
@grey: #999798;
@btn-gray: #bdbcbc;
@medium-grey: #d3d2d2;
@dark-gray: #656565;
@disabled-gray: @gray-lighter;

@light-green: #bfe593;
@green: #bae08e;
@dark-green: #26963c;
@black-green: #003e1a;
@medium-green: #72be44;
@white : #ffffff;
@black : #000000;

// color palette from Dennis
@light-orange: #ebbf88;
@medium-orange: #e39d4d;
@dark-orange: #c18029;
@light-purple: #a2858e;
@dark-purple: #693c51;

// colors for our custom alert (PARS-2129)
@alert-dark-orange: #f2652a;
@alert-medium-orange: #ffd679;

@input-height: 26px;
@input-height-lg: 29px;

@btn-height: 29px;
@border-input-color:#009444;
@border-input: 1px solid @border-input-color;
@padding-btn: 0 10px 0 10px;

@grid-gutter-width: 16px;
@grid-gutter-width-left:  ceil((@grid-gutter-width / 2));
@grid-gutter-width-right: floor((@grid-gutter-width / 2));

@standard-indent: 8px;

@select-input-height: @input-height;

@input-group-addon-bg: transparent;

@border-radius-base:        3px;
@border-radius-large:       4px;
@border-radius-small:       2px;

@padding-base-horizontal: @border-radius-base;
@padding-large-horizontal: @border-radius-large;
@padding-small-horizontal: @border-radius-small;

@input-border-radius-lg: @input-border-radius; // large ones will look more blocky, intentionally
