/*****************************
 * top-level stylesheet for the app proper
 *****************************/
@import "bootstrap/less/mixins/forms.less";

@import "./all-media.less";

html, body {
  min-height: 100%;
  background-color: @gray-lighter;
  font-family: @font-family-base;
}

.non-obvious-link {
  color: @dark-green;
  text-decoration: underline;
}

.block-text {
  color: @gray; // bootstrap's darker gray
  a {
    .non-obvious-link();
  }
}

.short-block-text p {
  margin-top: @line-height-computed;
  .lead()
}

ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  &.list-inline {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.order-list .searchable-list-button-bar {
  position: relative;
}

.order-list {

  .order-list-item {

    label.checkbox-inline {
      width: 82%;

      @media (min-width: 992px) and (max-width: 1190px) {
        width: 78%;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        width: 70%;
      }

      a {
        width: 90%;
        white-space: normal;
      }
    }
  }
  .past-order + .list-group{
    input[type="checkbox"] + span {
      display: none;
      & + a {
        margin-left: 20px;
      }
    }
  }
}

@media (min-width: 768px) {
  .searchable-list .list-group, .searchable-list.list-group,
  .purchase-list .list-group, .searchable-list-button-bar {
    width: 72%; // to cover the long buttons on OrderList
  }

  .used-in-menus-list .list-group {
    width: 65%;
  }
}

section {
  margin-top: 10.5px;
  margin-bottom: 10.5px;

  section {
    margin-left: percentage(1/12);
  }
}

hr {
  margin-top: 0;
}

.checkbox {
  margin: 0;
  label {
    padding: 0px;
  }

  span {
    vertical-align: middle;
  }
}

/* Custom checkbox */
input[type="checkbox"] {
  display: none;

  .checkbox-inline & {
    & + span {
      vertical-align: top;
    }
  }

  & + span {
    display:inline-block;
    width:15px;
    height:15px;
    background: @white;
    border: 1px solid @btn-gray;
    border-radius: @border-radius-small;
    position: relative;
    vertical-align: middle;
  }

  .checkbox-status(@background-image) {
    content: '';
    background: @background-image;
    position: absolute;
    top: 2px; left: 1px;
    font-size: 12px;
    color: @dark-green;
    width: 12px;
    height: 10px;
  }

  &:checked + span:after {
    .checkbox-status(url('/assets/images/checkbox.svg'));
  }

  &:indeterminate + span:after {
    .checkbox-status(url('/assets/images/checkbox-indeterminate.svg'));
  }

  &:checked + span {
    border-color: @dark-green;
  }
}

.form-group input[type="checkbox"] + span {
  top: 3px;
  margin-right: 3px;
}

.radio {
  input[type="radio"] {
    display: none;

    & + span {
      display:inline-block;
      width:14px;
      height:14px;
      background: @white;
      border: 1px solid @medium-green;
      border-radius: 50%;
      position: relative;
    }

    &:checked + span:after {
      content: '';
      position: absolute;
      top: 3px; left: 3px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: @medium-green;
    }

    &[disabled] {
      & + span {
        border-color: @disabled-gray;
      }

      &:checked + span:after {
        background: @disabled-gray;
      }
    }
  }

}

.tagFilter {
    width: 100%;
    margin-bottom: 10px;
}

.title-block {
  background-color: @light-green;
  padding-bottom: 12px;
  padding-left: @standard-indent !important;
  padding-right: @standard-indent !important;
  h3 {
    color: white;
    margin: 12px 0px;
    padding: 0;
    letter-spacing: -0.5px;
  }
  input {
    border: 1px solid @dark-green;
    border-radius: @border-radius-small;
    padding: 5px;
  }
  #search {
    background-color: transparent;
  }
}

.new-link {
  margin-top: 13px;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 19px;
  color:@grey;
}
.new-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: @black;
}

.list-group-item {
  background: fade(@grey, 25%);
  border-color: @gray-light; // actually darker than @grey, because this is from bootstrap
}

.green-barred-list-group {
  .list-group-item {
    padding: 4px 15px 0 4px;
    line-height: 1.1;
    margin-bottom: 5px;

    background: transparent;
    border: none;
    vertical-align: middle;
    &:hover {
      background-color: @green;
    }
    .list-item-main-link {
      letter-spacing: 1px;
      color:@black;
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
    }
    .list-item-copy-link {
      border-right: 1px solid @white;
    }
  }
}

.non-substract-from-inventory{
  .text-italic();
  h3, input {
    .text-italic();
  }
}

.Select--single > .Select__control > .Select-multi-value-wrapper > .Select-value  {
  text-overflow: clip;
  margin-right:17px;
}

.search-box {
  input {
    background: transparent;
  }
}

.searchable-list, .purchase-list {
  .green-barred-list-group();
}

.purchase-list .purchase-list-action {
  color: @dark-gray;
}

.searchable-list-button-bar > * {
  margin-left: 5px;
  margin-right: 5px;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

}

.searchable-list-group {
  .list-group {
    padding-top: 4px;
    .checkbox-inline {
      max-width: 72%;
      a {
        max-width: 95.5%;
      }
    }
  }
  .list-group .list-group-item {
    // total of 20px, lines up checkbox nicely with group header if it has checkbox
    margin-left: 16px;
  }
}

.order-list-date-header {
  // TODO: highlight whole group on hover?
  input[type="checkbox"] + span {
    vertical-align: baseline;
  }
}

.used-in-menus-list .list-group-item {
  padding: 0;
  background: transparent;
  border: none;
}

.delete-link, .action-link {
  color: @grey;
  text-decoration: none;
  text-align: right;

  cursor: pointer;
  &:hover {
    color: @black;
    text-decoration: none;
  }
  &.disabled {
    // TODO: Figure out a less-awful look for these
    color: @grey;
  }
  text-transform: lowercase;
}

.rearrange-steps-link {
  .action-link();
  background-color: transparent;
  border: 0;
}

.recipe-step .drag-handle,
.order-section .drag-order-section,
.recipe-step .drag-recipe-step,
.recipe-ingredient-usage .drag-recipe-ingredient,
.order-section-item .drag-order-section-item,
.menu-recipe-usage .drag-recipe-usage {
  visibility: hidden;
}

.recipe-step:hover .drag-handle,
.order-section:hover .drag-order-section,
.recipe-step:hover .drag-recipe-step,
.recipe-ingredient-usage:hover .drag-recipe-ingredient,
.order-section-item:hover .drag-order-section-item,
.menu-recipe-usage:hover .drag-recipe-usage {
  visibility: visible;
}

.drag-handle:hover,
.drag-order-section:hover,
.drag-recipe-step:hover,
.drag-recipe-ingredient:hover,
.drag-order-section-item:hover,
.drag-recipe-usage:hover {
  cursor: move;
}

.align-right {
    text-align: right;
    width: 100%;
}
.align-right > div {
    float: right;
}

.form-group {
  margin-bottom: 0;
}

.form-horizontal {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-horizontal .form-group  {
  label.control-label {
    text-align: left;

    // the point is to center text top-bottom
    padding-top: 0;
    line-height: @input-height;
  }
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;

  & > :first-child {
    padding-left: 0;
  }

  [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }

  .form-horizontal & {
    padding-left: 0;
    padding-right: 0;
  }

  @media(min-width: @screen-md-min) {
    & > :not(:first-child) {
      padding-left: @standard-indent;
    }
  }
}

.form-control-lg.form-control{
  height: @input-height-lg;
  font-size: @font-size-large;

  margin-bottom: 10px;
}

.form-control-title.form-control {
  font-size: 17px;
}

.form-control-static {
  height: @input-height;
  min-height: initial;
  padding: 3px;
}

textarea.form-control{
  border: @border-input;
  resize: none;
}

.form-control[type=number] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::-ms-clear {
    display: none;
  }
}

.actionButton {
  display: inline-block;
}

@crud-header-height: 45px;

a.crud-back-link {
  display: block;
  background-color: @medium-green;
  opacity: 0.5;

  border-color: @medium-green ;

  text-transform: capitalize;

  color: @white;
  font-size: @font-size-large;
  &:hover, &:focus {
    text-decoration: none;
    opacity: 1;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 5-7 */
    filter: alpha(opacity=100);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
  }

  height: @crud-header-height;
  line-height: @crud-header-height;
  vertical-align: middle;

  padding: @padding-btn;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  min-width: 125px;
  max-width: 148px;
}

.crud-top-buttons {
  padding-top: 15px; // @crud-header-height - button height (couldn't find a variable for that...)
  text-align: right;

  Button {
    margin-left: 10px;
  }
}

@keyframes vertical-slide-in {
  from {
    max-height: 0;
  }

  to {
    // hacky - because CSS implementations don't like transitioning to height or max-height: auto
    // after animation is over, actual height: auto rule will kick in
    max-height: 1000px + @crud-header-height;
  }
}

.slidein {
  animation: vertical-slide-in 2s ease-in;
  overflow-y:  hidden;
}

.crud-global-errors > * { .slidein() }

.crud-global-errors {
  color: @state-danger-text;

  & > div {
    vertical-align: middle;
  }
}

.crud-global-warning {
  color: #8a6d3b;
}

.control-label{
  font-weight: normal;
  color:@black;
  padding-right: 6px;
}

.form-comment{
  label.control-label{
    vertical-align: top;
  }
  .form-group{
    margin-bottom: 0;
  }

}

.indent-bottom{
  padding-bottom: 20px;
  position: relative;
}

@green-hr-border-style: 1px solid @dark-green;
@gray-hr-border-style: 1px solid @dark-gray;
.green-hr{
  border-top: @green-hr-border-style;
  margin-bottom: 10px;
  height:1px;
}
.gray-hr {
  border-top: @gray-hr-border-style;
  margin-bottom: 10px;
}

.well{
  background-color:@medium-grey;
  border-radius: @border-radius-large;
}

.input-group-addon,
.has-success .input-group-addon,
.has-error .input-group-addon,
.has-warning .input-group-addon
{
  color: @black;
  border: none;
  padding: 0 @padding-base-horizontal;
  background: transparent;
}

.title-block div.form-group{
  border: 1px solid @dark-green;
  border-radius: 0;
  font-size: @font-size-base;
  padding-left: 10px;
  background-color: @white;
}

.title-block input:focus{
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.title-block input{
  border: none;
}

h4, .h4, h5, .h5, h6, .h6{
  cursor: default;
}

h5, .h5 {
  font-weight: bold;
}

.glyphicon.glyphicon-plus{
  font-size: 20px;
  top: 3px;
  margin-right: @standard-indent;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.row > :first-child {
    padding-left: 0;
}
.row > :last-child {
    padding-right: 0;
}

.green-btn.indent.btn.btn-primary{
  margin-bottom: 15px;
}
.block-delete{
  width: 68px;
  padding: 0;
}
.green-btn.indent.btn.btn-primary{
  border-radius: @border-radius-small;
}

.green-btn.indent.btn.btn-default {
  line-height: 29px;
}


@-moz-document url-prefix(){
  .form-control,.title-block input,.form-control-lg.form-control{
    padding:3px;
  }
  a:focus{
    outline: none;
  }
}

/*
 * we want to do something weird with wells - we want to use the grid gutters
 * to stuff their padding into, so that their content itself is aligned with content
 * outside of the wells.
 */
.well.supplier-contact {
  margin-right: -@grid-gutter-width-right;
  padding-right: @grid-gutter-width-right;

  margin-left: -@grid-gutter-width-left;
  padding-left: @grid-gutter-width-left;
}

@sectioned-well-indent: 7px;
// must also be a .well
.sectioned-well {
  padding: @sectioned-well-indent;
  margin-bottom: 25px;
}

@delete-link-width: 90px;
.sectioned-well-content {
  display: table;
  width: 100%;

  .well-child-hr {
    display: block;
    overflow: hidden;
    width: 100%;
  }

  & > * {
    display: table-cell;
    vertical-align: top;
  }

  & > .delete-link {
    text-transform: uppercase;
    text-align: right;
    margin-top: 6px;
    width: @delete-link-width;
  }
}

.sectioned-well-list-item {
  display: table;

  & > * { // each UI control in the list item
    display: table-cell;
    vertical-align: middle;
    padding-left: @standard-indent;
    padding-right: @standard-indent;
  }

  width: 100%;

  .delete-link {
    padding-left: 6px;

    @media (max-width: @screen-lg-min) {
      text-align: right;
      width:12%;
    }

    @media (max-width: @screen-md-min) {
      width: 9%;
    }

    @media (max-width: @screen-sm-min) {
      width: 12%;
    }
  }
}

.recipe-step.well {
  .sectioned-well();
}

.recipe-category-form {
  & > div {
    padding-left: 0 !important;
  }
}

.recipe-step-content {
  .sectioned-well-content();
  height: 100%;

  .recipe-order {
    width: 15px;
  }

  .recipe-instructions {
    width: ~"calc(100% - 18px - 4em)"; // subtract width of delete-link
    span {
      height: 95%;
      textarea {
        height: 100%;
      }
    }
    margin-right: 0px;
    position: relative;
  }

  .recipe-ingredients-content {
    width: 65%;
    padding-right: 13px;

    @media (max-width: @screen-lg-min) {
      width: 58%;
    }

    button.green-btn {
      margin-left: @standard-indent;
    }

    .recipe-ingredients {
      // make some space to allow dropping ingredients
      min-height: 4px;
    }
  }
}

.recipe-ingredient-usage {
  .sectioned-well-list-item();

  & > :not(:first-child) {
    padding-left: @standard-indent;
  }

  .ingredient-name {
    width: 39%;
    min-width:60px;
    padding-right: 4px;
    .Select__menu {
      width: 170%;
    }
  }

  .drag-recipe-ingredient {
    padding: 0;
    width: 3%;
  }

  .ingredient-quantity {
    width: 24%;
    padding-left: 4px;

    .input-group-addon {
      padding-right:0;
    }

    @media (max-width: @screen-lg-min) {
      width: 32%;
    }
  }

  .ingredient-prep {
    padding-left: @standard-indent;
  }

  .delete-link {
    width: 4em;
  }

}

@menu-section-item-indent: 40px;

.menu-section.well {
  .sectioned-well();
  display: table;
  width: 100%;
  position: relative;

  & > * {
    display: table-cell;
  }

  .menu-section-header, .menu-section-add-item-button {
    span {
      z-index: 49;
    }
  }

  .drag-menu-section {
    display: inline;
  }
  .drag-menu-section:hover {
    cursor: move;
  }
}

.menu-section-content {
  .sectioned-well-content();
  display: table-cell;
  width: 90%;
}

.menu-section-body {
  display: table;
  width: 100%;

  & > * {
    display: table-cell;
  }

  .menu-section-index {
    p {
      margin-bottom: 0;
    }
  }
  .menu-section-items-content > .menu-section-items {
    min-height: 4px;
  }
}

.menu-section-name-input {
  width: 100%;
  .form-control {
    max-width: 10em;
  }
  .sectioned-well-list-item();
}

.menu-recipe-usage {
  .sectioned-well-list-item();

  .menu-recipe-usage-select {
    padding-left: @menu-section-item-indent;
    width: 60%;
    min-width: 15em;
  }

  .drag-recipe-usage {
    display: inline;
  }
}

.menu-section-add-item-button {
  margin-left: @menu-section-item-indent;
  margin-top: 6px;
}

/*
 * same with horizontal rules, but only on the left side
 */

.green-hr {
  margin-left: -@grid-gutter-width-left;
  padding-left: @grid-gutter-width-left;
}

.well-child-hr {
  margin-top: 3px;
  margin-bottom: 3px;
}

.recipe-status-alert {
  position: absolute;
  top: 0px;
  left: -319px;
  width: 300px;
  padding:10px;

  @media(max-width: 1500px)  {
    width: 220px;
    left: -240px;
  }

  @media(max-width: 1345px)  {
    width: 142px;
    left: -169px;
  }

  @media(max-width: 940px)  {
    position: inherit;
    width: auto;
    display: inline-block;
  }

  hr {
    border-top-color: #111;
  }

  div:first-child {
    margin-top: 10px;
  }
  h5 {
    margin-bottom: 3px;
  }
  button {
    margin-left:4px;
  }
  .recipe-alerts-list {
    padding-left: 18px;
    margin-top:0px;
    li {
      margin-bottom:4px;
    }
  }
}

.alert {
  border: none;
  border-radius: @border-radius-small;
  margin-bottom: 10px;
}

.alert-info, .alert-success { // semantic differences, but currently no styling differences
  background-color: @light-green;
  color: @gray-darker;
}

.custom-alert {
  background-color: @alert-dark-orange;
  display: flex;
  padding: 3px;
}

.custom-alert-children-wrapper {
  background-color: @alert-medium-orange;
  padding: 0px 10px 10px 10px;

  .btn-link {
    color: @alert-dark-orange;
  }

  .btn-default {
    background-color: @alert-dark-orange;
    border-color: @alert-dark-orange;
  }
}

.modal-content { // modal-content is the actual visual container for the modal; "body" is the main content
  border-radius: @border-radius-small;
  border: 0;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.7);

  & > * { // footer, header, body
    padding: 0;
    margin: 11px;
    margin-left: 18px;

  }

  .modal-body {
    margin-top: 18px;
    min-height: 140px;

    .radio-list-header.row {
      .col-xs-3 {
          width: 31% !important;
      }

      .col-xs-4 {
        width: 27%;
      }

      & > :first-child {
        width: 5%;
      }

      & > :last-child {
        display: inline-block;
        float: right;
        margin-right: 9%;
      }

      div:nth-child(0n+4) {
        width: 4%;
       }

    }

    .radio-list-item.row {

      .Select__control {
        min-height: 26px;
        height: 26px;
      }

      .input-group-addon:first-child {
        width: 48%;
        & > .input-group {
          width: 100%;
          & > input {
            max-width: 58px;
            width: 58px;
          }
        }
      }

      .radio-list-item-cost {
        .input-group {
          width: 108%;
        }
        .price-per-input {
          .Select {
            width: 100%;
          }
        }
      }

      .col-xs-4 {
        margin-left: 1%;
      }

      .col-xs-2 {
        max-width: 130px;
        padding-left: 3px;
      }

      input[type="number"] {
        height: 26px !important;
      }

      .radio-list-item-cost-comparison{
        & > div {
          line-height: 26px !important;
          text-align: center;
        }
      }

      .Select-value, .Select-placeholder {
        top: 1px;
      }
    }

    .radio-list-item.row > :first-child {
      min-width: 4%;
      width: 4%;
    }

    .second-row {
      & > div {
        text-align: left;
      }
      .col-xs-4 {
        max-width: 24.5% !important;
      }
      div:nth-child(0n+3) {
        margin-right: 4%;
      }
      div:nth-child(0n+4) {
        margin-left: 8.7%;
      }
    }
  }

  .modal-footer {
    border-top: 0;

    .btn:last-child {
      margin-right: 0;
    }
    .btn + .btn {
      margin-left: @standard-indent;
    }
  }


  & > .modal-header {
    background-color: @medium-green;
    margin: 0; // want the background to appear all the way to the edge, so need to use padding instead
    padding: 11px;
    padding-left: 18px;

    // The above background ignores the border-radius of its parent element (.modal-content). Therefore,
    // re-specify the border-radius for the relevant corners here.
    border-top-left-radius: @border-radius-small;
    border-top-right-radius: @border-radius-small;

    .modal-title {
      color: white;
      text-transform: capitalize;
    }

    button.close {
      // override of bootstrap defaults
      opacity: 1;
      color: white;
      line-height: @line-height-base;
      font-size: @font-size-large;

      // letter used by react-bootstrap is U+00D7 (multiplication sign), so do a hacky thing to replace it
      // with a capital X.
      span {
        visibility: hidden; // button still exists, so click target has wonky shape
        &:after {
          visibility: visible;
          content: "X";
        }
      }
    }
  }

  & > .modal-footer {
    padding-bottom: 11px; // margin will collapse with the outer border gradient of the dialog
  }
}

.modal-base {
  z-index: 1210; // To bring modals in front of not-in-modal forms' vcalidate tooltips
}

.modal-tooltip {
  z-index: 1211; // To bring in-modal validate tooltips in front of the modals
}

.modal-validate {
  .modal-tooltip();
}

.small-modal {
  .modal-base();
  .modal-dialog {
    @media (max-width: @screen-lg-min) {
      width: 40%;
    }

    @media (max-width: @screen-md-min) {
      width: 60%;
    }
  }
}

.medium-modal {
  .modal-base();
  .modal-dialog {
    width: 70%;
    max-width: 800px;
  }
}

.wider-modal {
  .modal-dialog {
    width: 80%;
    max-width: 1040px;
    @media (max-width: @screen-md-min) {
      width: 85%;
    }
  }
}

.new-supplier-modal {
  top: 10%;
}

.multi-input-form-group .input-group {
  width: auto;
}

.form-inline {
  height: @input-height;
  margin: 15px 0 5px;
  line-height: 26px;

  // failure mode this way is overrunning other content. better than the way that wrapping blows up the
  // formatting of a row
  white-space: nowrap;


  & > * {
    top: -1px; // wtf
  }

  & > .form-group > * {
    top: -1px; // no seriously. WTF
  }

  .help-block {
    margin-bottom: 0;
    margin-top: 0;
  }

  &.form-inline-striped {
    background-color: @medium-grey;
  }

  .radio {
    padding-top: 0;
    span {
      vertical-align: middle;
    }
  }

}


.radio-list-container-two-item {
  position: relative;
  margin: 15px 0px 5px;
  background-color: #d3d2d2;

  .select-supplier {
    .Select__menu {
      width: 180%;
    }
  }

  .input-group:not([class*="col-"]) {
    width: 110%;
  }

  .radio-list-item {
    margin: 3px 0px 3px !important;

    .col-xs-4 {
      max-width: 16.7%;
      .radio-list-item-cost {
        width: 100%;
      }
    }
  }

  .well-child-hr {
    margin-left: 2%;
    margin-right: 2%;
  }

  .second-row {
    .col-xs-4 {
      max-width: 23.2% !important;
      margin-left: 0 !important;
      padding-right: 0;
    }
    div:nth-child(0n+3) {
      margin-right: 3%;
    }
    div:nth-child(0n+4) {
      margin-left: 10.4%;
    }
    .col-xs-3 {
      text-align: left;
      padding-left: 4px;	      padding-left: 4px;
      padding-right: 0;
      & > .radio-list-item-sku {
        width: 77%;
      }
    }
  }
}

.radio-list-header.row {
  .col-xs-3 {
    width: 24.5%;
  }
  .col-xs-4 {
    width: 25%;
  }

  div:nth-child(0n+5) {
  margin-left: 2%;
  }

  & > :last-child {
      display: inline-block;
      float: right;
      margin-right: 10%;
  }
  .col-xs-6 {
    text-align: left;
    padding-left: 1%;
    float: left;
  }

}

.radio-list-item.row {
  position:relative;
  margin:10px 0px 5px;
  background-color: @medium-grey;

  .radio{
    span {
      vertical-align: middle;
    }
  }
  .Select-value, .Select-placeholder {
    top: 2px;
  }
  .radio-list-delete{
    position: absolute;
    top: 0px;
    right: 5px;
  }
  .form-control {
    width: 100%;
  }

  .col-xs-3 {
    max-width: 155px;
    .Select__control {
        width: 100%;
     }
  }

  .col-xs-4 {
    max-width: 16.7%;
    margin-left: 1.5%;
  }

  .col-xs-1 {
      min-width: 93.5px;
  }

  .package-size {
    .input-group-addon {
      width: 50%;
      .Select__control {
         width: 100%;
      }
    }
  }

  .sub-package-size {
    margin-left: 2px;
    .Select__control {
      width: 60px;
      min-width: 60px;
    }
  }

  .radio-list-item-cost {
    .input-group-addon:first-child {
      width: 48%;
      & > .input-group {
        width: 100%;
        & > input {
          max-width: 65px;
          width: 65px;
        }
      }
    }
    .price-per-input {
      .input-group {
        width: 122%;
      }
      .Select {
        width: 90%;
      }
    }
  }

  .radio-list-item-cost-comparison{
    margin-left: 6%;
    text-align: center;
    & > div {
      line-height: 27px;
      text-align: center;
    }
  }

  input[type="number"] {
      max-width: 50px;
      padding-top: 6px;
  }

  & > div {
    // SUPER HACKY - keep plain-text items (e.g. in-house supplier row stuff) aligned with headers
    text-align: center;
    & > div {
      text-align: left;
      padding-top: 0;
    }
  }

  & > :last-child {
    white-space: nowrap;
    overflow: visible;
  }

  .radio-list-item-sku{
    padding-right: 0px;
    input {
      width: 110%;
    }
  }
}


.radio-list-item.row:first-child {
  margin-top: 20px;
}

.radio-list-add {
    margin-top: 20px;
}

.radio {
    margin: 2px;
}

.list-item-delete-link {
  .delete-link;
  padding: 0 @standard-indent;
  display: inline-block;
  margin: 0 @standard-indent;
}

.list-item-copy-link {
  .list-item-delete-link;
}

.nutrition-info-panel {
  clear: both;
  background-color: @white;
  border: @border-input;
  padding: 2px 5px;
  margin: 20px 0;
  border-radius: @border-radius-large;
  font-size: 12px !important;

  h1 {
    font-weight: bold;
    font-size: 35px;
    margin-top: 12px;
    text-align: center;
  }
  h2 {
    font-weight: bold;
    font-size: 20px;
  }
  hr {
    display: block;
    height: 1px;
    background: transparent;
    width: 100%;
    margin-bottom: 6px;
    border: none;
    border-top: solid 1px #000;
    &.thick {
      border-top-width: 9px;
    }
    &.medium {
      border-top-width: 3px;
    }
    &.thin {
      border-top-width: 1px;
    }
  }
  small {
    line-height: 1.1em;
  }

  .input-group {
    width: auto;
  }

  .form-control {
    width: 3em;
    height: 16px;
    padding: 0 1px;
    margin-left: 5px;
    text-align: right;
    font-size: 12px;
    float: none;
  }

  .nutrient-serving-unit {
    margin-bottom: -5px;
  }

  .calories {
    font-weight: bold !important;
    clear: both !important;
    position: relative !important;
    height: 50px !important;
  }
  .daily-value {
    position: relative !important;
    float: right !important;
    font-weight: bold !important;
    font-size: 0.8em !important;
  }
  .calorie-label {
    position: absolute !important;
    font-size: 23px !important;
    top: 18px !important;
  }
  .calorie-count {
    input, span {
      height: 40px !important;
      font-size: 35px !important;
      float: right !important;
      margin-top: -15px !important;
    }
  }

  .fact-percent {
    position: relative !important;
    float: right !important;
  }
  .macronutrients .fact-percent {
    font-weight: bold;
  }

  .indent {
    padding-left: 2em;
  }
  .indent-twice {
    padding-left: 4em;
  }

  .list-group-item {
    padding-right: 6px;
  }

  .Select {
    display: inline-block;
    width: 75px;
    margin: 2px 6px;

    .Select-control {
      height: 27px;
    }
    .Select-value {
      line-height: 20px;
    }
    .Select-input {
      height: 20px;
    }
  }

  .serving-size {
    height: 40px !important;
    display: flex !important;
    align-items: center !important;

    input {
      height: 20px !important;
    }

    .unit-input {
      margin-top: -5px;
    }
  }
}

#nutrition-facts, #characteristics-list {
  width: 275px;
}

#allergens-list {
  width: 325px;

  input {
    width: 145px;
    text-align: left;
  }
}

.ingredients-allergens-characteristics-modal #allergens-list input {
  width: 135px;
}

#nutrition-print-preview {

  #nutrition-facts, .nutrition-info-panel {
    width: 40% !important;
    font-size: 12px !important;
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 15px;
    }
    #allergens-list, #characteristics-list {
      width: 100%;
    }
  }

  #nutrition-facts {
    p, .form-control, .fact-label, .fact-percent {
      font-size: 12px !important;
    }

    .fact-label {
      span, b, i {
        font-size: 12px !important;
      }
    }

    .calories {
      height: 35px !important;
      .daily-value {
        font-size: 0.8em !important;
      }
      .calorie-label {
        font-size: 25px !important;
      }
      .calorie-count span {
        font-size: 35px !important;
      }
    }
  }

  #allergens-list span, p {
    font-size: 12px !important;
  }

  #characteristics-list li {
    font-size: 12px !important;
  }
}

@tooltip-bg: @medium-green;
@tooltip-opacity: 0.95;

.bordered-tooltip(
  @tooltip-border-width, @tooltip-border-color,
  @tooltip-background-color,
  @tooltip-inner-color,
) {
  /*
   * Below madness for adding a border to tooltips that works with their arrows is
   * courtesy of https://gist.github.com/dsnoeck/9ce65ec8d025796c3be53e7c06880eab
   */
  @tooltip-arrow-border-width: @tooltip-arrow-width + @tooltip-border-width;

  .tooltip-inner {
    background-color: @tooltip-background-color;
    border: @tooltip-border-width solid @tooltip-border-color;
    color: @tooltip-inner-color;
    overflow-wrap: break-word;
  }

  &.top    { padding: @tooltip-arrow-border-width 0; }
  &.right  { padding: 0 @tooltip-arrow-border-width; }
  &.bottom { padding: @tooltip-arrow-border-width 0; }
  &.left   { padding: 0 @tooltip-arrow-border-width; }

  .tooltip-arrow:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    z-index: -1;
  }

  &.top .tooltip-arrow {
    bottom: 2 * @tooltip-border-width;
    border-top-color: @tooltip-background-color;
    &:after {
      bottom: -2 * @tooltip-border-width;
      left: 50%;
      margin-left: -@tooltip-arrow-border-width;
      border-width: @tooltip-arrow-border-width @tooltip-arrow-border-width 0;
      border-top-color: @tooltip-border-color;
    }
  }
  &.bottom .tooltip-arrow {
    top: 2 * @tooltip-border-width;
    border-bottom-color: @tooltip-background-color;
    &:after {
      top: -2 * @tooltip-border-width;
      left: 50%;
      margin-left: -@tooltip-arrow-border-width;
      border-width: 0 @tooltip-arrow-border-width @tooltip-arrow-border-width;
      border-bottom-color: @tooltip-border-color;
    }
  }
  &.left .tooltip-arrow {
    right: 2 * @tooltip-border-width;
    border-left-color: @tooltip-background-color;
    &:after {
      right: -2 * @tooltip-border-width;
      top: 50%;
      margin-top: -@tooltip-arrow-border-width;
      border-width: @tooltip-arrow-border-width 0 @tooltip-arrow-border-width @tooltip-arrow-border-width;
      border-left-color: @tooltip-border-color;
    }
  }
  &.right .tooltip-arrow {
    left: 2 * @tooltip-border-width;
    border-right-color: @tooltip-background-color;
    &:after {
      left: -2 * @tooltip-border-width;
      top: 50%;
      margin-top: -@tooltip-arrow-border-width;
      border-width: @tooltip-arrow-border-width @tooltip-arrow-border-width @tooltip-arrow-border-width 0;
      border-right-color: @tooltip-border-color;
    }
  }
  /*
   * end dsnoeck contribution
   */
}


.feature-upsell-tooltip {
  .tooltip-inner {
    .block-text();
    font-size: 125%;
    max-width: 300px;
    p {
      margin: 0.25em 0.1em;
    }
  }

  .bordered-tooltip(
    @tooltip-border-width: 1px,
    @tooltip-border-color: @dark-orange,
    @tooltip-background-color: @light-orange,
    @tooltip-inner-color: @gray-dark
  );
}

.error-tooltip {
  &.top > .tooltip-arrow {
    border-top-color: @state-danger-text !important;
  }

  &.bottom > .tooltip-arrow {
    border-bottom-color: @state-danger-text !important;
  }

  &.left > .tooltip-arrow {
    border-left-color: @state-danger-text !important;
  }

  &.right > .tooltip-arrow {
    border-right-color: @state-danger-text !important;
  }

  & > .tooltip-inner {
    background-color: @state-danger-text;
  }
}

.inherit-bootstrap-error-styling() {
  .input-group.has-success & {
    border-color: @state-success-text;
  }
  .input-group.has-warning & {
    border-color: @state-warning-text;
  }
  .input-group.has-error & {
    border-color: @state-danger-text;
  }
}

.Tag_Select {
  .Select__control {
    min-height: 32px;
    height: 32px;
  }
}

@react-select-focus-color: #ebf5ff;
.Select {
  text-align: left;

  .Select-value-label {
    vertical-align: middle;
  }

  .Select__control--is-focused {
    box-shadow: @disabled-gray;
    color: #333;
  }

  .Select__option--is-focused, .Select__option--is-selected {
    background-color: @react-select-focus-color;
    color: #333;
  }

  .Select__single-value {
    height: 27px;
    bottom: 0;
    text-overflow: inherit;
    overflow: initial;
    padding-top: 6px;
    line-height: 1;
  }

  .Select__control {
    position: static;
    border-color: #009444;
    min-height: 27px;
    &:hover {
      border-color:  #009444;
    }
  }

  .Select__menu {
    z-index: 99;
    margin-top: 0;
  }

  .Select__dropdown-indicator {
    padding: 1px;
  }

  .Select__value-container {
    padding: 0 0 0 2px;
  }

  .Select__clear-indicator {
    padding: 0 0 0 1px;
  }

  .Select__placeholder {
    width: 100%;
    color: @grey;
  }
}

.Select__control {
  border: @border-input;
  .inherit-bootstrap-error-styling();
  min-height: 27px;
  height: 27px;
}

.Select.is-disabled > .Select__control {
    background-color: @disabled-gray;
    border-color: @grey;

    .Select__indicators {
      border-color: @grey transparent transparent;
    }
}

.Select__value-container--is-multi {
  padding-left: 0 !important;
  .Select__multi-value {
    border: 1px solid @medium-green;
    margin: 2px 0px 2px 5px;
    &:first-child {
      margin-left: 2px;
    }

    .Select__multi-value__remove {
      border-right: 1px solid @medium-green;
      background-color: @medium-green;
      color: @white;
      font-size: 18px;
      line-height: 19px;
      padding: 2px 5px;
    }
    .Select__multi-value__label {
      background-color: @white;
      color: @black;
      vertical-align: bottom;
    }
  }
}

.Select__indicator-separator {
  display: none;
}

.Select__indicators {
  border-color: @medium-green transparent transparent;
  .select-dropdown-indicator {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: @medium-green transparent transparent transparent;
    margin-right: 5px;
  }
  .select-clear-indicator {
    color: hsl(0,0%,80%);
    padding-bottom: 2px;
    font-weight: bold;
    &:hover {
      color: @dark-gray;
    }
  }
}

.used-in-menus-display {
  margin-top: 15px;
}

.label-left {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.label-left-sm {
  &:extend(.label-left);
  width: 15%;
}

.labelled {
    display: inline-block;
    width: 80%;
    clear: both;
}

@searchable-list-side-margin: 12px;

.searchable-list-body, .purchase-list-body {
  border-left: 1px solid @medium-green;
  padding-left: @searchable-list-side-margin; // want this space inside the border
  min-height: 300px;
}
.purchase-btn {
  max-width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.new-link {
  margin-left: @searchable-list-side-margin;
}

@searchable-list-top-margin: 20px;

.leftcol {
  padding-right: 12px;

  h4 {
    margin-bottom: 10px;
  }

  .text-with-help {
    h4 {
      margin-top: 0;
      width:fit-content;
      display: inline;
    }
  }
}

.take-inventory {
  margin-top: @searchable-list-top-margin;
}

.searchable-list, .purchase-list {
  margin-top: @searchable-list-top-margin;
  clear: both;
}

.searchable-break {
  font-size: 19px;
  font-weight: normal;
}

// reduce gap between first searchable break and next list item
.searchable-break + .searchable-list {
  margin-top: 5px;
}

.no-past-order, .no-past-inventory {
  color: gray;
  font-size: 15px;
  padding-bottom: 20px;
  text-align: center;
}

.btn-row  > { // like btn-group, but don't want to deal with overriding all the complex rules
  .btn:not(:first-child) {
    margin-left: 10px;
  }
}

.radio-list-header {
  text-align: center;
}
.unit-input{
  .Select-control {
    min-width:5em; //replicating styles from quantityInput until refactor both
  }
  min-width: 75px;
}
.quantityInput {
  .Select-control {
    width: 5em; // not min-width; this is also the maximum space we should need for abbreviations
  }

  input[type=number] {
    width: 100%; // all the space that doesn't go to the unit input, goes to the amount input
  }

  .input-group-addon {
    // this element encloses the .Select-control; just want to clobber bootstrap's text-align rule
    text-align: inherit;

    // https://parsley.atlassian.net/browse/PARS-1696?focusedCommentId=13395&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-13395
    width: 100%;
  }
}

.percent-input {
  width: 3em !important;
}

.input-group-btn .btn {
  height: 26px;
}

.order-container {
  .order-form {
    margin-bottom: 20px;
  }

  .crud-back-nav {
    width: 22%;

    .crud-back-link {
      min-width: 204px;
    }
  }

  .crud-global-errors {
    width: 14.666667%
  }

  .crud-top-buttons {
    float: right;
    width: 62.66666667%;
  }
}

.order-section {
  position: relative;

  // headers title input should be above overlay
  .order-section-headers {
    .order-section-title {
      span {
        z-index: 49;
      }
    }
  }

  // drag handle should be above overlay
  .order-section-index p span.glyphicon {
    z-index: 49;
  }
}

.order-section.well {
  .sectioned-well();
  margin-top: 20px;
}

.order-section-index {
  min-width: 15px;
  // subtract delete link width and just use 3% of space
  width: ~"calc(0.03 * calc(100% - @{delete-link-width}))";
}
.order-section-content {
  .sectioned-well-content();

  // override well content
  // use block/inline-block style instead of table/table-cell
  display: block;

  & > * {
    display: inline-block;
  }

  .order-section-items-content {
    // subtract delete link width
    // and use all space remaining from .order-section-index
    width: ~"calc(0.97 * calc(100% - @{delete-link-width}))";

    .order-section-items {
      // add some space to allow dropping
      // when no item present
      min-height: 4px;
      .order-section-quantity {
        & > div {
          width: 60%;
          .input-group-addon {
            padding-left: 7px;
          }
        }
      }
    }
  }
}

.drag-order-section-item {
  width: 22px;
  padding: 4px;
}

.order-section-title {
  padding: 0;
  // allow some space for drag handle
  width: ~"calc(40% - 22px)";
  min-width: 40px;
}
.order-section-quantity {
  width: 16%;
  min-width: 40px;
}
.order-section-cost, .order-section-price {
  padding-left: @standard-indent;
  padding-right: @standard-indent;
}
.order-section-cost {
  width: 13%;
}
.order-section-price {
  width: 13%;
}

.order-section-headers, .order-section-item {

  .sectioned-well-content();

  display: block;

  & > * {
    display: inline-block;
  }

  & > .delete-link {
    text-transform: lowercase;
  }
}

.order-section-headers {
  font-size: 18px;
}

.order-section-item {

  .order-section-title {
    padding-left: @menu-section-item-indent;
  }
}

.order-footer {
  .sectioned-well-list-item();

  // override table type to use calc function
  display: block;
  position: relative;
  padding: 0 @standard-indent;
  & > * {
    display: inline-block; // override table-cell type to use calc function
  }

  .order-footer-add {
    position: absolute;
    left: 2px;
    padding: 0 9px;
    @media(max-width: 958px) {
      top: 20px;
    }
  }

  .order-footer-content {
    width: 100%;
    padding: 0;

    & > div {
      display: inline-block;
    }
  }

  .order-footer-items-content {
    font-size: 18px;
    width: ~"calc(0.97 * calc(100% - @{delete-link-width}) + @{delete-link-width})";

    & > div {
      display: inline-block;
    }
    .order-footer-total {
      text-align: right;
      padding-right: @standard-indent;
      // added width of recipe selector and quantity
      width: ~"calc(0.60 * calc(100% - @{delete-link-width}))";
    }
    .order-footer-cost {
      width: ~"calc(0.13 * calc(100% - @{delete-link-width}))";
      padding: 0 @standard-indent;
    }
    .order-footer-price {
      width: ~"calc(0.13 * calc(100% - @{delete-link-width}))";
      padding: 0 @standard-indent;
    }
    .order-footer-food-cost-percent {
      @media(max-width: 958px) {
        width: ~"calc(0.13 * (100% - @{delete-link-width}) + @{delete-link-width})";
      }
    }
  }
  .order-section-title {
    padding: 0;
    // take 40% of width resulted from subtracting padding, drag icons and delete link column
    width: ~"calc(0.4 * calc(100% - 104px))";
  }

  .order-section-quantity {
    // not a section-quantity, just using its props to match width
    text-align: right;
    width: ~"calc(0.21 * calc(100% - 104px))";
  }

  .order-section-cost {
    width: ~"calc(0.11 * calc(100% - 104px))";
  }

  .order-section-price {
    width: ~"calc(0.10 * calc(100% - 104px))";
  }

  .order-section-spacer {
    width: ~"calc(0.26 * calc(100% - 104px) - 22px)";
  }

  .covers-content {

    .order-footer-items-content {
      font-size: 15px;

      .order-footer-total {
        width: ~"calc(0.73 * calc(100% - @{delete-link-width}))";
      }
      .order-footer-price {
        vertical-align: middle;
        span.input-group {
          width: 3em;
        }
      }
    }
  }
}

.dummy-well {
  // to match the main table of sections - hence padding, to avoid margin collapsing
  // not doing this inside the order-footer because:
  // * then the padding would be included in percentage width calculations of children
  // * then we'd have to add px- and em-denominated lengths for padding, which
  //   browsers don't like doing
  padding-left: @standard-indent;
  padding-right: @standard-indent;
}

.order-section-overlay, .menu-section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 7%;
  height: 100%;
  opacity: 0.6;
  z-index: 48;
}

.order-amount-input-group {
  max-width: min-content;
}

.order-editor-disabled {
  .order-section-title {
    width: 40%;
  }
}
.order-footer.order-footer-disabled {
  .order-footer-content {

    .order-footer-total {
      width: ~"calc(0.56 * calc(100% - @{delete-link-width}))";
    }
  }
  .covers-content {

    .order-footer-total {
      width: ~"calc(0.69 * calc(100% - @{delete-link-width}))";
    }
  }
}

.btn-addstep {
  margin-bottom: 30px;
}

input[type="number"] {
    text-align: right;
}

.indented-row, .indented-row:first-child {
    padding-left: 30px;
}

.radio-inline, .checkbox-inline {
  padding-left: 0;
}

.remove-padding {
  padding-left: 0px;
}

.recipe-price-input {
  .input-group-addon {
    padding-left:0;
  }
  .input-group {
    width:3em;
  }
}

.ingredient-edit .quantityInput .input-group-addon {
  min-width: 120px;
}

.Select-option {
  padding: 5px 10px;
  line-height: 22px;
}

input.width-5char, .addFixedWidth .form-control {
    width: 7ch !important;
}

.addFixedWidth {
  padding-right: 0px;

  .input-group {
    width: 80px;
    float: right;
  }
}

.suppliedIngredientsList, .reverse-dependencies-list {
    margin-left: -@standard-indent;

    .leftcol h4 {
      margin-bottom: 10.5px;
      font-size: 17px;
    }

    .row:first-child {
      margin-bottom: 20px;
    }

    .form-group {
      border: 1px solid #26963c;
      border-radius: @border-radius-large;
      font-size: 15px;
      background-color: #ffffff;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

      input.form-control {
        border: none;
        box-shadow: none;
        background: none;
      }
    }
}

.reverse-dependencies-list {
  margin-left: 0;
}


/* Todo: This should be changed in original button style, instead of overwriting it here. */
.btn {
  border-radius: @border-radius-small;
}

#recipe-edit-yield-and-cost .section-content-container > :not(#recipe-edit-cost-row) {
  padding-left: // want to align content with ingredient selectors
      @sectioned-well-indent + // from recipe step well
      15px + // .recipe-order width
      @standard-indent; // .sectioned-well-list-item padding-left
}

#recipe-edit-yield-and-cost-title, #ing-edit-suppliers-and-costs {
  padding-left: 0 !important;
  h4 {
    margin-top: 0;
    margin-right: 30px;
    display: inline-block;
  }
  .checkbox {
    display: inline-block;
  }
}

/* Todo: Merge H4 tags on recipe edit page, into one tag, and remove this code after that */
.recipe-edit-cost-display {
  display: flex;
  align-items: center;

  .recipe-edit-cost-label{
    line-height: inherit;
    margin-bottom: 0px;
    margin-right: 0.5ex;
  }
  .recipe-percent-sign{
    margin-left: 4px;
    margin-bottom: 0;
  }
  .font-18 {
    font-size:18px;
  }
}

.btn-recipe-edit-right{
  position:absolute;
  right:88px;
}
.btn-recipe-edit-md-break {
  @media(max-width: 1200px) and (min-width: 900px) {
    position: relative;
    right: 0px;
  }
}


.Select-menu-outer {
  min-width: 20em; // for browsers that don't support max-content
  min-width: max-content;

  z-index: 50; // for some reason it's set to 1 by default. 1! Madness.
}

.Select--multi.has-value .Select-input {
  margin-top: 2px;
}

.Select-loading {
  display: none;
}

.print-only {
  display: none;
  visibility: hidden;
}

.print-brand {
  .print-only();
}

.print-header {
  .print-only();
}

.menu-actions button {
  margin-left: 10px;
  margin-right: 10px;
}

.receive-purchase-container {

  .receive-purchase-forecast-item, .receive-purchase-item {
    border: 0;
    padding: 4px 6px;
  }

  .receive-purchase-item {
    background-color: #d3d2d2;
    padding-top: 0;
    padding-bottom: 0;
  }

  .quantityInput .Select-control {
    width: 11em;
  }

  .receiving-footer {
    & > * {
      font-size: 18px;
    }
  }

  .receiving-unit-cost {
    width: 35%;
    display: inline-block;
    min-width: 64px;
    vertical-align: top;
  }

  .receiving-unit-source {
    display: inline-block;
    vertical-align: text-top;
  }
}

.receiving-direct-unit-cost {
  display: inline-block;
  max-width: 60px;
}

.receiving-direct-unit-source {
  display: inline-block;
  margin-left: 15px;
}

table.shopping-list-section, table.recent-prices-table {
  table-layout: fixed;
  & + & {
    border-top: @green-hr-border-style;
  }
}

.shopping-list-name {
    width: 100%;
}

.receiving-list-name {
  width: 100%;
}

.shopping-list-quantity {
  width: 15em;
  .quantityInput .Select-control {
    width: 11em;
  }

  th& {
    padding-left: 0.5em !important; // starts out about halfway into the 5em-wide amount box
  }
}

.receving-list-delete-link {
  width: 5em;
  padding-left: 0 !important;
  text-align: right;

  .delete-link {
    vertical-align: middle;
  }

  th& {
    padding-right: 0 !important;
  }

  td& {
    padding-right: 10px !important; // to match print buttons' internal padding
  }

}

.receiving-list-quantity {
  width: 25em;
  .quantityInput .Select-control {
    width: 11em;
  }

  th& {
    padding-left: 0.5em !important; // starts out about halfway into the 5em-wide amount box
  }
}

.receiving-list-sku {
  width: 10em;
}

.receiving-list-requirement {
  width: 5em;
  text-align: right;
}

.receiving-list-unit-cost {
  width: 10em;
  text-align: left;
  padding-left: 180px !important;
}
.receiving-list-total-cost {
  padding-right: 12px !important;
  width: 6em;
  text-align: right;
  padding-left: 20px ;
  h4 {
    float: right;
    white-space: nowrap;
  }
}

.shopping-list-sku {
  width: 25em;
}

.shopping-list-requirement {
  width: 5em;
  text-align: right;
}

.shopping-list-unit-cost, .shopping-list-total-cost {
  width: 6em;
  text-align: right;
}
.shopping-list-total-cost {
  padding-right: 12px !important;
  h4 {
    float: right;
    white-space: nowrap;
  }
}

.no-recipe-welcome-text, .no-inventory-welcome-text{
  width: 68%;
  margin: 0 auto;
}

.hidden{
  pointer-events:none;
  visibility:hidden;
}
.shopping-list-delete-link {
  width: 5em;
  padding-left: 0 !important;
  text-align: right;

  .delete-link {
    vertical-align: middle;
  }

  th& {
    padding-right: 0 !important;
  }

  td& {
    padding-right: 10px !important; // to match print buttons' internal padding
  }

}

.inventory-item-row{
  td {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.supplied-ingredient-section{
 .col-xs-2 {
   max-width: 130px;
   max-width: 130px;
   padding-left: 4px;
 }
 input[type="number"] {
     max-width: 50px;
     height: 27px !important;
 }
 .radio-list-item {

  .radio input[type="radio"][disabled]:checked + span:after {
    background-color: @medium-green;
  }
 }
}

.supplied-ingredient-body-table{
  border-top: 10px solid #e9e9e9;
  border-bottom: 10px solid #e9e9e9;
}

.supplied-ingredient-row {
  td {
    padding-top: @standard-indent !important;
    padding-bottom: 0 !important;
    .well-child-hr {
      margin-left: -@standard-indent;
      margin-right: -@standard-indent;
      margin-top: 4px;
      margin-bottom: 0;
    }
  }

  td:first-child  {
    max-width: 300px;
    min-width: 300px;

    .well-child-hr {
      margin-left: 0;
    }

    input {
      max-width: 245px;
    }

  }

  td:last-child {
    .well-child-hr {
      margin-right: 0;
      //margin-top: 35px;
    }
  }

  .quantityInput .Select-control, .unit-input {
    width: 90px;

    .Select-option {
      width: 100px;
    }
  }

  input[type="number"] {
    max-width: 50px;
    height: 27px;
  }

  .sub-package-size-input {
    max-width: 124px;
    min-width: 124px;
    .Select__control, .unit-input {
      width: 60px;
      min-width: 60px;
    }
  }

  .cost-input {
    input[type="number"] {
      max-width: 61px;
      width: 61px;
    }
  }

  .price-per-input {
     width: 10%;
     padding-left: 0;
  }

  .Select__value {
    top: 1px !important;
  }

  .cost-per-pound {
    text-align: center;
    & > div {
      line-height: 26px;
      margin-top: 1px;
    }
  }
}

.supplied-ingredient-second-row {
  td:first-child {
    max-width: 300px;
    min-width: 300px;
  }
  td {
    padding-bottom: 0;
    & > div {
      padding-bottom: 0;
      padding-right: 0;
      padding-top: 3px;
    }
    & .row {
      margin-bottom: 6px !important;
      & > :first-child {
        margin-right: 8.8%;
      }
      & > .col-xs-3 {
        padding-right: 0;
      }
      & > :not(:first-child) {
        padding-left: 4px;
      }
      & > :nth-child(0n+3) {
        width: 20.5%;
      }
    }
  }
  .supplied-ingredient-second-row-name {
    width: 100%;
  }

  .supplied-ingredient-second-row-sku {
    width: 76%;
  }
}


.inventory-name {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  span {
    margin-top: 3px; // checkbox's vertical position
  }
}

.supplier-upload-csv-adjustments-list {
  list-style-type: decimal;
  & > li {
    margin: 10px 0;
    font-size: 19px;
  }
  & > ul {
    font-size: 19px;
    list-style-type: lower-alpha;
  }
}

.inventory-quantity {
  padding-right: 0px !important;

  input[type=number] {
    width: 50px;
  }

  .input-group-addon, .Select-control {
    width: 100%;
    max-width: 325px;

    .Select__value {
      max-width: 300px;
    }
  }
}

.inventory-source {
  padding-right: 1px !important;

  table {
    display: block;
    width: 400px;
    height: 25px;
    margin-top: -10px;
    margin-left: -7px;

    td {
      background: transparent !important;
    }
  }

  .Select__control {
    width: 5em; // not min-width; this is also the maximum space we should need for abbreviations
  }

  input[type=number] {
    width: 50px;
  }
}

.inventory-cost {
  text-align: right;
}

.recipe-size-batch {
  position: relative;
  color: #000;
  min-width: 140px;

  input[type=number] {
    margin-left: 12px;
    width: 45px;
  }
}

.recipe-edit-batch-size, .recipe-edit-sub-recipe-batch-size {
  min-width: 350px;

  input[type=text] {
    color: #000;
    width: 100px;
    margin-left: 6px;
  }
}

.print-recipe-batch-size {
  top: -1px;
  left: -12px;
}

.resize-recipe-batch-size {
  top: -1px;
  left: -25px;
}

.recipe-photo-active-dropzone, .recipe-photo-reject-dropzone {
  width: 500px;
  height: 175px;
  position: absolute;
  left: 325px;
  border: dashed #666 2px;
  font-size: 25px;
  padding-top: 60px;
}

.recipe-step-photo-dropzone, .recipe-step-photo-active-dropzone {
  display: flex;
  align-content: center;
  height: 100%;
  overflow: visible;

  .delete-link {
    text-transform: uppercase;
    text-align: center;
    width: 4em;
  }
}

.recipe-photo-dropzone, .recipe-step-photo-dropzone .recipe-step-dropzone-text {
  display: none;
}

.recipe-photo-active-dropzone, .recipe-photo-reject-dropzone, .recipe-step-photo-active-dropzone .recipe-step-dropzone-text {
  z-index: 12;
  text-align: center;
  font-weight: bold;
  color: @grey;
}

.recipe-step-photo-active-dropzone {
  position: relative;
}

.recipe-step-photo-active-dropzone .recipe-step-dropzone-text {
  position: absolute;
  padding-top: 30px;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

.recipe-photo-active-dropzone, .recipe-step-photo-active-dropzone .recipe-step-dropzone-text {
  background-color: rgba(255, 255, 255, 0.8);
}

.recipe-photo-reject-dropzone, .recipe-step-photo-reject-dropzone .recipe-step-dropzone-text {
  background-color: rgba(255, 0, 0, 0.8);
}

.recipe-step-photo-active-dropzone {
  border: dashed 2px #fff;
}

.recipe-edit-preview-photo {
  display: flex;
  align-items: flex-end;
  align-content: center;
  width: 200px;
  height: 180px;
  position: absolute;
  bottom: -52px;
  right: -245px;
  z-index: 12;

  img {
    max-width: 200px;
    max-height: 180px;
    cursor: pointer;
  }
}

.recipe-step-preview-photo {
  max-width: 75px;
  max-height: 75px;
  z-index: 12;
  cursor: pointer;
}

.preview-photo-modal {
  display: block;
  max-width: 500px;
  max-height: 500px;
  margin: 0px auto;
}

.remove-recipe-preview-photo .modal-content {
  width: 500px;
}

.view-photo-modal-match-top, .view-photo-modal-match-bottom {
  .modal-dialog {
    margin-top: 0px;
  }
}

.recipe-edit-add-photo, .recipe-step-add-photo {
  z-index: 10;
  .new-link {
    color: @input-color-placeholder;
  }
}

.recipe-step-add-photo {
  width: 100%;
  height: auto;
  .new-link {
    margin: 20% 0px 0px !important;
    width: 100%;
    height: 70%;
    text-align: center;
  }
}

.recipe-edit-add-photo {
  position: absolute;
  right: -312px;
  bottom: -76px;
}

.recipe-nutrients {
  input[type=number] {
    max-width: 50px;
  }

  .quantityInput {
    width: initial;
    .input-group-addon {
      width: initial;
    }
  }

  .unit-input {
    max-width: 75px;
  }
}

table, .table {
  border-collapse: separate;
  border-spacing: 0 10px;

  th {
    font-weight: normal; // override bootstrap rule
  }

  thead, tbody, tfoot {
    tr > td, tr > th {
      border: none;
    }
  }

  thead, tfoot {
    tr > th, tr > td {
      padding-top: 0;
      padding-bottom: 0;
      vertical-align: middle;
      & > * {
        margin: 0;
      }
    }
  }

  thead > tr > th {
    &:first-child {
      padding-left: 0;
      text-align: left;
    }
  }

  tbody > tr.user-added-shopping-list-item {
    & > td, & > th {
      &.shopping-list-name {
        overflow: visible;
        &:first-child {
          // these two should add up to the normal &:first-child padding-left, for text alignment
          padding-left: 0.1em;
          .Select-value, .Select-placeholder, .Select-input {
            padding-left: 0.4em;
          }
        }
      }
    }
  }

  tbody > tr > td, tbody > tr > th {
    &.shopping-list-name {
      @media(min-width: @screen-sm-min) {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.shopping-list-user-added {
          overflow: visible;

        }
      }
    }
    padding-top: 2px;
    padding-bottom: 2px;

    &:first-child {
      // border-left: white 5px solid;
      padding-left: 0.5em;
      border-bottom-left-radius: @border-radius-small;
      border-top-left-radius: @border-radius-small;
    }
    &:last-child {
      border-bottom-right-radius: @border-radius-small;
      border-top-right-radius: @border-radius-small;
    }
    background-color: @medium-grey;
  }
}
.table-import {
  border-collapse: collapse;

  thead > tr > th {
    padding-bottom: 10px;
  }

  .Select-menu-outer {
    min-width: 100%;
  }

  tr.import-data {
    & > td {
      background-color: #bfe593;
      padding-bottom: 0;
      // height here, rather than min-height on div, so short divs are centered
      // vertically
      height: 46px;
      & > div {
        width: 100%;
        & > span.pull-center {
          display: block;
          text-align: center;
        }
      }
    }
  }

  .supplied-ingredient-second-row {
    td > .row {
      & > :first-child {
        margin-right: 9.4%;
      }
    }
  }

  tbody {
    border-top: none;
    border-bottom: none;
  }
}

.ingredients-imported-list {
  margin-left: 0;
}

.upload-button {
  input[type="file"] {
    display: none;
  }
  color: white;
  display: inline-block;
}



.simple-preps-editor {
  .Select {
    width: 7em;
  }
}

.account-settings {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;

  .account-settings-index-col {
    width: 4%;
  }

  .account-settings-email-col-5 {
    width: 57.66666667%;
  }
  .account-settings-email-col-9 {
    width: 84.33333333%;
  }
  .account-settings-perm-col {
    width: 26.33333333%;
  }

  .account-settings-remove-col {
    width: 11.66666667%;
  }

  .pending-invites-email-col-4 {
    width: 45.66666667%;
  }
  .pending-invites-email-col-7 {
    width: 72%;
  }
}

div#purchasing-content {
  h4, h5 {
    label.checkbox-inline { padding-right: 4px; }
  }

  ul#purchasing-suppliers.green-barred-list-group {
    margin-left: 3%;
    margin-right: 3%;

    li.list-group-item {
      padding-bottom: 4px;
      margin-bottom: @standard-indent;
    }
  }
}

.drop-area {
  border: 1px dashed #80cc28;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #e9e9e9;
  min-height: 30px !important;
}

.text-with-help {
  border-bottom: dashed 1px @dark-green;
  .questionCirle {
    margin: 0px 4px 4px 2px;
  }
}

// make past date more light gray
.date-picker-popover tbody tr td.text-muted {
  color: @gray-lighter;
}

// used in wrapping feature guarded inputs
// so that events are not passed down the children
// but create event to activate tooltip
.feature-upsell-overlay {
  display: inline-block;
  cursor: not-allowed;
  & * {
    pointer-events: none !important;
    touch-action: none !important;
  }
}

.onboarding-body {
  min-width: 400px;
  position: relative;
  background-color: transparent;
  font-size: 150%; // relative to @font-size-base
  .btn {
    font-size: 100%; // i.e. same as the 200% of the onboarding-body
    height: 2em;
    &:hover, &:active, &:focus, &:hover:active, &:hover:active:focus, &:hover:focus, &:active:focus {
      height: 2em;
    }
  }

  & > div {
    // using rem so padding doesn't vary with different font sizes of different sections
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .onboarding-close {
    position: absolute;
    color: white;
    right: 12px;
    top: 6px;
    z-index: 99;
    line-height: @line-height-base;
    font-size: @font-size-large;
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }
  }

  .onboarding-title {
    font-weight: 500; // if by some miracle browser has intermediate normal/bold weight, use it
    font-size: 125%; // relative to onboarding-body font-size

    padding-bottom: 1em;
    padding-top: 2em;

    color: #fff;
    background-color: #80cc28;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    // allow placing images
    position: relative;
    .onboarding-logo {
      position: absolute;
      top: 10px;
    }
    .onboarding-right-logo {
      .onboarding-logo();
      right: 10px;
       img {
        width: 50px;
        height: 70px;
      }
    }
    .onboarding-left-logo {
      .onboarding-logo();
      left: 10px;
       img {
        width: 50px;
        height: 50px;
      }
    }
  }
  .onboarding-title-left-logo {
    padding-left: 60px;
  }
  .onboarding-title-right-logo {
    padding-right: 60px;
  }

  .onboarding-content {
    background-color: #fff;
    padding-top: 1em;

    // if we don't do this, we end up with a strip at the bottom that is outside of the onboarding-content
    // because of margin collapsing - said strip being transparent, because the background-color isn't applied
    & > p:last-child {
      margin: 0;
    }
  }

  .onboarding-footer {
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    padding-bottom: 2em;
    padding-top: 1em;

    * + * {
      margin-left: 0.5rem;
    }
  }
}

.onboarding-step-editor-container {

  .row {
    margin-bottom: 10px;
  }
}
.mt-0 {
  margin-top: 0px !important;
}
.mt-1 {
  margin-top: 10px !important;
}
.mt-2 {
  margin-top: 20px !important;
}
.mt-3 {
  margin-top: 30px !important;
}
.mt-4 {
  margin-top: 40px !important;
}
.mt-5 {
  margin-top: 50px !important;
}
.mt-6 {
  margin-top: 60px !important;
}
.mr-0 {
  margin-right: 0px !important;
}
.mr-1 {
  margin-right: 10px !important;
}
.mr-2 {
  margin-right: 20px !important;
}
.mr-3 {
  margin-right: 30px !important;
}
.mr-4 {
  margin-right: 40px !important;
}
.mr-5 {
  margin-right: 50px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mb-1 {
  margin-bottom: 10px !important;
}
.mb-2 {
  margin-bottom: 20px !important;
}
.mb-3 {
  margin-bottom: 30px !important;
}
.mb-4 {
  margin-bottom: 40px !important;
}
.mb-5 {
  margin-bottom: 50px !important;
}
.ml-0 {
  margin-left: 0px !important;
}
.ml-1 {
  margin-left: 10px !important;
}
.ml-2 {
  margin-left: 20px !important;
}
.ml-3 {
  margin-left: 30px !important;
}
.ml-4 {
  margin-left: 40px !important;
}
.ml-5 {
  margin-left: 50px !important;
}

.text-italic {
  font-style: italic;
}

.manually-created {
  color: #07b245 !important;
}

#section-to-print {
  display: none;
}

.readonly {

  .form-control[disabled] {
    cursor: initial;
    background-color: #fff;
    border: none;
    box-shadow: none;
  }


  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    border: none;
    box-shadow: none;
  }

  .Select.Select--is-disabled {
    > .Select__control {
      background-color: #fff;
      border: none;
    }

    .Select__single-value {
      color: #333;
    }

    .Select__indicators {
      display: none;
    }

  }

  .form-control[disabled], fieldset[disabled] .form-control {
    cursor: initial;
  }

  input[type="checkbox"][disabled]:checked + span {
    border-color: white;
  }
}

.readonly-recipe-page {

  .readonly();

  &.recipe-edit-page .crud-footer .indent-bottom .crud-top-buttons {
    // override the negative margin used to line it up with "Add Step" button,
    // since readonly doesn't have that button
    margin-top: 0;
  }

  .recipe-step {
    background: #fff;
    padding-bottom: 0px;
  }

  .readonly-description {
    word-break: break-word;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    min-height: 100%;
    white-space: pre-wrap;
  }
}

#receive-direct{
  z-index: 1020;
  position: absolute;
   top: 12px;
   right: 268px;
}
#recipe-list-sync, #recipe-list-export, #recipe-list-print, #current-calculated-inventory-btn {
  position: absolute;
  z-index: 1020;
}

#recipe-list-sync, #recipe-list-export {
  top: 12px;
}

#recipe-list-print, #current-calculated-inventory-btn {
  top: 54px;
}

#recipe-list-export, #recipe-list-print, #current-calculated-inventory-btn {
  right: 24px;
}

#recipe-list-sync {
  right: 150px;
}

@media(min-width: @screen-md-min) {
  #recipe-list-sync, #recipe-list-export, #recipe-list-print, #current-calculated-inventory-btn {
    top: 12px;
  }

  #recipe-list-sync {
    right: 510px;
  }
  #recipe-list-export {
    right: 385px;
  }
  #recipe-list-print, #current-calculated-inventory-btn {
    right: 268px;
  }
}

.synced-recipe {

  .readonly();

  &.recipe-edit-page .crud-footer .indent-bottom .crud-top-buttons {
    // override the negative margin used to line it up with "Add Step" button,
    // since readonly doesn't have that button
    margin-top: 0;
  }

  .recipe-step {
    background-color: #fff;

    .recipe-ingredients-content {
      padding-bottom: 0px;
    }
  }

}

.synced-supplier {
  .readonly();
}

.select-addtional-right-aligned-clickable {
  color: @input-color-placeholder;
  position: absolute;
  right: 3px;
  top: 0;
  cursor: pointer;

  &:focus, &:hover {
    color: @dark-green;
  }
}

// e.g. updated, new on the recipe list
.searchable-list-tag {
  margin-left: 11px;
  & > span {
    margin-bottom: 4px;
    background-color: #e39d4d;
  }
}

.recipe-edit-page {
  .btn-addstep {
    margin-bottom: 0;
  }
  .crud-footer .indent-bottom .crud-top-buttons {
    // we want these buttons to line up vertically with the "Add Step" button,
    // which is in a previous element
    margin-top: -40px;
    padding-top: 0;
  }
}

.purchase-list-item {
  font-size: 15px;
}

.list-item-check {
  content: '';
  position: absolute;
  top: 3px;
  left: 1px;
  font-size: 12px;
  width: 12px;
  height: 10px;
  background-color: #07b245;
  -webkit-mask: url(/assets/images/checkbox.svg);
}

.purchase-list-item-received {
  color: rgb(7, 178, 69) !important;
  margin-left: 16px;
  a {
    color: inherit;
  }
  a:hover {
    color: @black !important;
    color: black;
  }
}


.ingredient-list-page, .inventory-details--page {
  #search-left-col-ingredients {
    .leftcol:last-child {
      margin-top: 25px;
    }
  }
}

.select-creatable-option {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  cursor: pointer;
  display: block;
  font-size: inherit;
  padding: 8px 12px;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  border-bottom-color: @react-select-focus-color;
  border-bottom-width: 2px;
  border-bottom-style: dotted;

  &:hover {
    background-color: @react-select-focus-color !important;
    color: #333;
    + .Select__menu-list {
      .Select__option--is-focused {
        background-color: transparent;
        color: inherit;
      }
      .Select__option--is-selected {
        background-color: @react-select-focus-color;
        color: #333;
      }
    }
  }

  + .Select__menu-list {
      margin-top: 37px !important;
      padding-top: 0 !important;
  }
}

.recipes-dashboard-modal-table {
  td, th {
    text-align: left !important;
  }

  // th > span {
  //   margin-right: 15px;
  // }
}


.dashboard {
  padding-top: 48px;
  @media (max-width: 768px){
    padding-top: 0;
  }

  .dashboard-container {
    margin-top: 7px;
  }
}


.dashboard-body {
  width: 100%;
  padding: 0 12px 12px;
  min-height: 300px;
  border-left: 1px solid  @medium-green;

  @media (max-width: 768px){
    margin-top: 0;
  }

  .card {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 20px;

    hr {
      margin-top: 12px;
    }
    .title {
      text-align: left;
      margin: 0;
      color: #333333;
      font-weight: 300;
      padding-top: 15px;
    }

    .category, label {
      font-size: 15px;
      font-weight: 400;
      color: @navbar-color;
      margin-bottom: 0px;
      height: 15px;
    }

    .btn {
      width: 100%;
    }

    h4 {
      text-align: center;
      font-size: 1.5em;
      &.stats-value {
        color: @dark-green;
        padding: 5px;
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    .icon-card {
      width: 35px;
      float: right;
    }
  }
    .card .image {
      width: 100%;
      overflow: hidden;
      height: 260px;
      border-radius: 4px 4px 0 0;
      position: relative;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d; }
      .card .image img {
        width: 100%; }
    .card .filter {
      position: absolute;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.68);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      filter: alpha(opacity=0); }
      .card .filter .btn {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .card:hover .filter {
      opacity: 1;
      filter: alpha(opacity=100); }
    .card .btn-hover {
      opacity: 0;
      filter: alpha(opacity=0); }
    .card:hover .btn-hover {
      opacity: 1;
      filter: alpha(opacity=100); }
    .card {
      padding: 15px 15px 10px 15px;
    }
    .card .header {
      padding: 15px 15px 0; }
    .card .category i,
    .card label i {
        font-size: 16px; }
    .card label {
      font-size: 12px;
      margin-bottom: 5px;
      text-transform: uppercase; }
    .card .avatar {
      width: 30px;
      height: 30px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 5px; }
    .card .description {
      font-size: 14px;
      color: #333; }
    .card .footer {
      padding: 0;
      background-color: transparent;
      line-height: 30px; }
      .card .footer .legend {
        padding: 5px 0;
        margin: 0 10px; }
      .card .footer hr {
        margin-top: 5px;
        margin-bottom: 5px; }
    .card .stats {
      color: #a9a9a9; }
    .card .footer div {
      display: inline-block; }
    .card .author {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase; }
    .card .author i {
      font-size: 14px; }
    .card h6 {
      font-size: 12px;
      margin: 0; }
    .card.card-separator:after {
      height: 100%;
      right: -15px;
      top: 0;
      width: 1px;
      background-color: #DDDDDD;
      content: "";
      position: absolute; }
    .card .ct-chart {
      margin: 30px 0 30px;
      height: 245px; }
    .card .table tbody td:first-child,
    .card .table thead th:first-child {
      padding-left: 15px; }
    .card .table tbody td:last-child,
    .card .table thead th:last-child {
      padding-right: 15px; }
    .card .alert {
      border-radius: 4px;
      position: relative; }
      .card .alert.alert-with-icon {
        padding-left: 65px; }

  .card-stats .icon-big {
    font-size: 3em;
    min-height: 64px; }
    .card-stats .icon-big i {
      font-weight: bold;
      line-height: 59px; }

  .card-stats .numbers {
    font-size: 2em;
    text-align: right; }
    .card-stats .numbers p {
      margin: 0; }
}

.ct-label {
  fill: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.3rem;
  line-height: 1; }

.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-label.ct-vertical.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}

.ct-label.ct-vertical.ct-end {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start; }

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: end; }

.ct-grid {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px; }

.ct-point {
  stroke-width: 8px;
  stroke-linecap: round; }

.ct-line {
  fill: none;
  stroke-width: 3px; }

.ct-area {
  stroke: none;
  fill-opacity: 0.8; }

.ct-bar {
  fill: none;
  stroke-width: 10px; }

.ct-slice-donut {
  fill: none;
  stroke-width: 60px; }

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: #1DC7EA; }

.ct-series-a .ct-slice-pie, .ct-series-a .ct-area {
  fill: #1DC7EA; }

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke: #FB404B; }

.ct-series-b .ct-slice-pie, .ct-series-b .ct-area {
  fill: #FB404B; }

.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: #FFA534; }

.ct-series-c .ct-slice-pie, .ct-series-c .ct-area {
  fill: #FFA534; }

.ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {
  stroke: #9368E9; }

.ct-series-d .ct-slice-pie, .ct-series-d .ct-area {
  fill: #9368E9; }

.ct-series-e .ct-point, .ct-series-e .ct-line, .ct-series-e .ct-bar, .ct-series-e .ct-slice-donut {
  stroke: #87CB16; }

.ct-series-e .ct-slice-pie, .ct-series-e .ct-area {
  fill: #87CB16; }

.ct-series-f .ct-point, .ct-series-f .ct-line, .ct-series-f .ct-bar, .ct-series-f .ct-slice-donut {
  stroke: #1b8dff; }

.ct-series-f .ct-slice-pie, .ct-series-f .ct-area {
  fill: #1b8dff; }

.ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar, .ct-series-g .ct-slice-donut {
  stroke: #5e5e5e; }

.ct-series-g .ct-slice-pie, .ct-series-g .ct-area {
  fill: #5e5e5e; }

.ct-series-h .ct-point, .ct-series-h .ct-line, .ct-series-h .ct-bar, .ct-series-h .ct-slice-donut {
  stroke: #dd4b39; }

.ct-series-h .ct-slice-pie, .ct-series-h .ct-area {
  fill: #dd4b39; }

.ct-series-i .ct-point, .ct-series-i .ct-line, .ct-series-i .ct-bar, .ct-series-i .ct-slice-donut {
  stroke: #35465c; }

.ct-series-i .ct-slice-pie, .ct-series-i .ct-area {
  fill: #35465c; }

.ct-series-j .ct-point, .ct-series-j .ct-line, .ct-series-j .ct-bar, .ct-series-j .ct-slice-donut {
  stroke: #e52d27; }

.ct-series-j .ct-slice-pie, .ct-series-j .ct-area {
  fill: #e52d27; }

.ct-series-k .ct-point, .ct-series-k .ct-line, .ct-series-k .ct-bar, .ct-series-k .ct-slice-donut {
  stroke: #55acee; }

.ct-series-k .ct-slice-pie, .ct-series-k .ct-area {
  fill: #55acee; }

.ct-series-l .ct-point, .ct-series-l .ct-line, .ct-series-l .ct-bar, .ct-series-l .ct-slice-donut {
  stroke: #cc2127; }

.ct-series-l .ct-slice-pie, .ct-series-l .ct-area {
  fill: #cc2127; }

.ct-series-m .ct-point, .ct-series-m .ct-line, .ct-series-m .ct-bar, .ct-series-m .ct-slice-donut {
  stroke: #1769ff; }

.ct-series-m .ct-slice-pie, .ct-series-m .ct-area {
  fill: #1769ff; }

.ct-series-n .ct-point, .ct-series-n .ct-line, .ct-series-n .ct-bar, .ct-series-n .ct-slice-donut {
  stroke: #6188e2; }

.ct-series-n .ct-slice-pie, .ct-series-n .ct-area {
  fill: #6188e2; }

.ct-series-o .ct-point, .ct-series-o .ct-line, .ct-series-o .ct-bar, .ct-series-o .ct-slice-donut {
  stroke: #a748ca; }

.ct-series-o .ct-slice-pie, .ct-series-o .ct-area {
  fill: #a748ca; }

.ct-square {
  display: block;
  position: relative;
  width: 100%; }
  .ct-square:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 100%; }
  .ct-square:after {
    content: "";
    display: table;
    clear: both; }
  .ct-square > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-second {
  display: block;
  position: relative;
  width: 100%; }
  .ct-minor-second:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 93.75%; }
  .ct-minor-second:after {
    content: "";
    display: table;
    clear: both; }
  .ct-minor-second > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-second {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-second:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 88.88889%; }
  .ct-major-second:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-second > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-third {
  display: block;
  position: relative;
  width: 100%; }
  .ct-minor-third:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 83.33333%; }
  .ct-minor-third:after {
    content: "";
    display: table;
    clear: both; }
  .ct-minor-third > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-third {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-third:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 80%; }
  .ct-major-third:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-third > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-perfect-fourth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-perfect-fourth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 75%; }
  .ct-perfect-fourth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-perfect-fourth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-perfect-fifth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-perfect-fifth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 66.66667%; }
  .ct-perfect-fifth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-perfect-fifth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-sixth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-minor-sixth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 62.5%; }
  .ct-minor-sixth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-minor-sixth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-golden-section {
  display: block;
  position: relative;
  width: 100%; }
  .ct-golden-section:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 61.8047%; }
  .ct-golden-section:after {
    content: "";
    display: table;
    clear: both; }
  .ct-golden-section > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-sixth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-sixth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 60%; }
  .ct-major-sixth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-sixth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-seventh {
  display: block;
  position: relative;
  width: 100%; }
  .ct-minor-seventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 56.25%; }
  .ct-minor-seventh:after {
    content: "";
    display: table;
    clear: both; }
  .ct-minor-seventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-seventh {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-seventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 53.33333%; }
  .ct-major-seventh:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-seventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-octave {
  display: block;
  position: relative;
  width: 100%; }
  .ct-octave:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 50%; }
  .ct-octave:after {
    content: "";
    display: table;
    clear: both; }
  .ct-octave > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-tenth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-tenth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 40%; }
  .ct-major-tenth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-tenth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-eleventh {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-eleventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 37.5%; }
  .ct-major-eleventh:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-eleventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-twelfth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-twelfth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 33.33333%; }
  .ct-major-twelfth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-twelfth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-double-octave {
  display: block;
  position: relative;
  width: 100%; }
  .ct-double-octave:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 25%; }
  .ct-double-octave:after {
    content: "";
    display: table;
    clear: both; }
  .ct-double-octave > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-label-price-history {
  width: 40px !important;
}

.ct-label-price-changes {
  width: 110px !important;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.recent-prices-table > tbody > tr > td {
  background-color: inherit;
  padding-top: 0;
  padding-bottom: 0;
}

.recent-prices-table > thead > tr > th {
  border-bottom-width: 1px;
  font-size: 12px;
  text-transform: uppercase;
  color: #9A9A9A;
  font-weight: 400;
  padding-bottom: 5px;
}

.recent-prices-table {
  min-width: 90px;
  padding-left: 3px;
  padding-right: 3px;
}

.recent-prices-table > tbody > tr {
  position: relative;
}


.pos-setup-table-container {
  margin-bottom: 100px;
  .pos-setup-table {
    margin-bottom: 5px;
    tbody > tr:first-child {
      td {
        padding-top: 5px;
      }
    }
    td {
      padding-bottom: 5px;
    }
  }
}

.pos-import-container {
  width: 90%;
  margin-top: 50px;
  margin-bottom: 100px;

  .pos-import-date-row {
    .Select__menu-list {
      .Select__option:first-child  {
        font-style: italic;
      }
    }
  }
  .pos-import-custom-date {
    .Select__single-value {
      font-style: italic;
    }
  }
}

.pos-import-table-title {
  h6 {
    font-weight: bold;
  }
}

.import-pos-button {
  margin-left: 10px;
  padding-top: 2px !important;
  text-transform: none !important;
}

.pos-import-modal-container {
  margin: auto;
  text-align: left;
  padding-top: 1%;
}

.add-code-pos-import-modal {
  .Select__menu {
    width: 110%;
  }
}

.pos-import-blank-item-field-modal {
  h5 {
    color: @state-danger-text;
  }
}
li[role=presentation] {
  padding: 9.5px 0px;
  border-bottom: 0px;
}