/*****************************
 * top-level stylesheet for printed pages
 *****************************/
 @import (reference) 'main.less';

* {
  transition: none !important;
  position: relative;
}

@page {
  margin-bottom: 0.6in;
}

body * {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  line-height: 1.2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: none !important;
}

body > * {
  display: none;
}

#section-to-print {
  display: block;
}

a {
  color: @black-green;
  text-decoration: none;
}
a[href]:after {
  content: "";
}
h1 {
  font-size: 14pt;
}
h4, .h4, h4 > a, .h4 > a {
  font-size: 14pt;
}
.table {
  width: 100%;
  max-width: 100%;
}
table {
  border-collapse: separate;
  border-spacing: 0 0.5em;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
.print-button {
  visibility: hidden !important;
  display: none !important;
}

.no-page-break-inside {
  page-break-inside: avoid;
}

.break-page-before {
  page-break-before: always;
}

.break-page-after {
  page-break-after: always;
}

.print-header-typography {
  height: 40px;
  padding-top: 10px;
  font-size: 14pt;
}
@print-title-font-size: 15pt;
.print-title {
  text-align: center;
  font-size: @print-title-font-size;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}
.print-header {
  display: block;
  visibility: visible;
  .print-header-typography();
}

.print-header-sub-recipe {
  font-style: italic;
}

.shopping-list-page table {
  table-layout: fixed;
}

.shopping-list th[scope="column"] {
  .print-header-typography();

  * {
    // for some reason this didn't carry through to <div>s inside of the th, so separate rule
    font-size: 12pt;
  }
}

.shopping-list-page th[scope="column"] {
  .print-header-typography();
  font-size: 12pt;
}

.shopping-list-page td {
  font-size: 10pt;
}

.print-brand img {
  display: block;
  visibility: visible;
}
.shopping-list  * {
  visibility: visible;
}
.shopping-list-name {
  width: 45%;
}
.shopping-list-requirement {
  width: 15%;
  text-align: right;
  padding-right: 20px;
}
.shopping-list-quantity {
  width: 25%;
}
.shopping-list-sku {
  width: 15%;
}
.recipe-print-name, .sub-recipe-print-name {
  font-size:26px;
}
.sub-recipe-print-name {
  font-style: italic;
}
.recipe-logo {
  width: 100%;
  tr, td {
    margin: 0;
    padding: 0;
  }
}
.recipe-print {
  width: 100%;
}
.recipe-print .ordinal {
  width: 40px;
  text-align: center;
  -webkit-print-color-adjust: exact;
  background-color: #ececec;
}
.recipe-print .ingredient {
  width: 340px;
}
.recipe-print .instructions {
  width: 340px;
  padding-left: 30px;
}
.recipe-print .amount {
  width: 80px;
  text-align: right;
}
.recipe-print .unit {
  width: 80px;
  text-align: right;
}
.recipe-print .ingredient, 
.recipe-print .amount, 
.recipe-print .unit, 
.recipe-print .preparation,
.recipe-print .ordinal,
.recipe-print .instructions {
  border-left: #000 1px solid;
  border-right: #000 1px solid;
}
.recipe-print .header {
  -webkit-print-color-adjust: exact;
  background-color: #ccc;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.recipe-print .header.ordinal {
  -webkit-print-color-adjust: exact;
  background-color: #fff;
}
.recipe-print .preparation.header {
  text-align: right;
}

.recipe-main-logo {
  margin: 10px auto;
  display: block;
  max-height: 200pt;
}

.recipe-step-photo {
  max-width: 56pt;
  max-height: 56pt;
}

.recipe-step-photo-container {
  padding: 0;
  width: 56pt;
}

.recipe-step-table {
  width: 100%;
}

table {
  border-collapse: collapse;
}
.separator-line {
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
}
.align-right-important {
  text-align: right !important;
}
.logo {
  position: fixed;
  -webkit-transform: translateZ(0);
  bottom: 0;
  right: 12px;
  color: #999;
  font-size: 0.8em;
}
.logo img {
  width: 125px;
  height: auto;
  vertical-align: bottom;
}

// Company logo in print pages
.gray-label {
  position: fixed;
  -webkit-transform: translateZ(0);
  top: 0;
  right: 0;
}
.gray-label img, .recipe-gray-label img, .purchase-gray-label img {
  max-width: 215px;
  max-height: 85px;
}
.purchase-gray-label {
  position: absolute;
  right: 0;
  top: -@print-title-font-size;
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.underline {
  text-decoration: underline;
}

.menu-content {
  width: 80%;
  margin-top: 80px;
}

.menu-section-item > .menu-section-item-header > i {
  font-size: 13pt;
}

.nutrition-info-panel:extend(.nutrition-info-panel all) {
  border-color: black;
}
#nutrition-facts, .nutrition-info-panel {
  width: 33%;
}
#nutrition-facts > h1 {
  font-size: 30px;
}

.mt-0 {
  margin-top: 0px !important;
}
.mt-1 {
  margin-top: 10px !important;
}
.mt-2 {
  margin-top: 20px !important;
}
.mt-3 {
  margin-top: 30px !important;
}
.mt-4 {
  margin-top: 40px !important;
}
.mt-5 {
  margin-top: 50px !important;
}
.mr-0 {
  margin-right: 0px !important;
}
.mr-1 {
  margin-right: 10px !important;
}
.mr-2 {
  margin-right: 20px !important;
}
.mr-3 {
  margin-right: 30px !important;
}
.mr-4 {
  margin-right: 40px !important;
}
.mr-5 {
  margin-right: 50px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mb-1 {
  margin-bottom: 10px !important;
}
.mb-2 {
  margin-bottom: 20px !important;
}
.mb-3 {
  margin-bottom: 30px !important;
}
.mb-4 {
  margin-bottom: 40px !important;
}
.mb-5 {
  margin-bottom: 50px !important;
}
.ml-0 {
  margin-left: 0px !important;
}
.ml-1 {
  margin-left: 10px !important;
}
.ml-2 {
  margin-left: 20px !important;
}
.ml-3 {
  margin-left: 30px !important;
}
.ml-4 {
  margin-left: 40px !important;
}
.ml-5 {
  margin-left: 50px !important;
}
.ml-037{
  margin-left: 0.37in !important;
}
.pt-05 {
  padding-top: 5px !important;
}
.pt-0 {
  padding-top: 0px !important;
}
.pt-1 {
  padding-top: 10px !important;
}
.pt-2 {
  padding-top: 20px !important;
}
.pt-3 {
  padding-top: 30px !important;
}
.pt-4 {
  padding-top: 40px !important;
}
.pt-5 {
  padding-top: 50px !important;
}
.pr-05 {
  padding-right: 5px !important;
}
.pr-0 {
  padding-right: 0px !important;
}
.pr-1 {
  padding-right: 10px !important;
}
.pr-2 {
  padding-right: 20px !important;
}
.pr-3 {
  padding-right: 30px !important;
}
.pr-4 {
  padding-right: 40px !important;
}
.pr-5 {
  padding-right: 50px !important;
}
.pb-05 {
  padding-bottom: 5px !important;
}
.pb-0 {
  padding-bottom: 0px !important;
}
.pb-1 {
  padding-bottom: 10px !important;
}
.pb-2 {
  padding-bottom: 20px !important;
}
.pb-3 {
  padding-bottom: 30px !important;
}
.pb-4 {
  padding-bottom: 40px !important;
}
.pb-5 {
  padding-bottom: 50px !important;
}
.pl-05 {
  padding-left: 5px !important;
}
.pl-0 {
  padding-left: 0px !important;
}
.pl-1 {
  padding-left: 10px !important;
}
.pl-2 {
  padding-left: 20px !important;
}
.pl-3 {
  padding-left: 30px !important;
}
.pl-4 {
  padding-left: 40px !important;
}
.pl-5 {
  padding-left: 50px !important;
}
