/*****************************
 * top-level stylesheet for login flow
 *****************************/
// basically only using the bootstrap stuff for now - move stuff into common.less
// factor stuff out into shared style files as they're shared between app and login
@import "../common.less";
@import "../app/all-media.less";

.auth-container {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.social-auth-buttons {
  font-weight: 500;
  color: @dark-gray;
  span {
    color: @medium-green;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
}

html, body {
  min-height: 100%;
  background-color: @gray-lighter;
  font-family: @font-family-base;
}

.container-fluid {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.page-header h1 {
  font-size: 30px;
}

.form-control-lg.form-control {
  height: @input-height-lg;
  font-size: @font-size-large;
}

.auth-input {
  margin-bottom: 12px;
}

.forgot-password {
  color: @dark-gray;
}

// Text between 2 lines
.tb2l {
  font-size: 18px;
  text-align: center;
  color: @dark-gray;
  margin: 25px 0px;
  .tb2l-line {
    display: inline-block;
    border-top: 1px solid #999798;
    width: calc(~'50% - 45px');
    position: relative;
    top: -6px;
    margin: 0px 0px;
  }
  .tb2l-text {
    margin: 0px 20px;
    display: inline-block;
  }
}

.btn-primary {
  .parsley-btn-invariant({
    text-transform: capitalize;
  });
}

.invitation-title {
  font-size: 18px;
  margin-bottom: 10px;
}