@import "./app/all-media.less";
@import "bootstrap/less/bootstrap.less";
@import (less) "dragula.css";

.build-id {
  position: absolute;
  color: @gray-lighter;
  right: 0;
  z-index: 100;
}

.input-group {

  // input-groups are implemented with display: table; this is useful for input-groups nested in tables
  border-collapse: collapse;

  &:not([class*="col-"]) {
    width: 100%;
  }
  .form-control:first-child, .form-control:last-child {
    border-radius: @input-border-radius;
  }
}

// makes a button that follows all of @rules, regardless of whether it's clicked
// or hovered over.
.parsley-btn-invariant(@rules) {
  &, &:hover, &.hover {
    &, &:active, &.active, .open > &.dropdown-toggle {
      &, &:focus, &.focus {
        // HACKY - any combination of the above gets this applied!
        @rules();
      }
    }
  }
}

@all-button-rules: {
  padding: @padding-btn;
  height: @btn-height;
  box-shadow: none;
};

@outlined-button-rules: {
  background-color: @white;
  border-width: 2px;
  border-style:solid ;
};

.btn-primary, .btn-default {
  .parsley-btn-invariant({
    @all-button-rules();
    background-color: @medium-green;
    border-color: @medium-green ;
    color:@white;
    text-align: center;
  });

  &[disabled] {
    .parsley-btn-invariant({
      background-color: @medium-grey;
      border-color: @medium-grey;
    });
  }
}

.btn-primary {
  .parsley-btn-invariant({
    text-transform: uppercase;
  });
}

.btn-default {
  .parsley-btn-invariant({
    text-transform: capitalize;
  });
}

.btn-success {
  .parsley-btn-invariant({
    @all-button-rules();
    @outlined-button-rules();
    background-color: @white;
    border-color: @medium-green;
    color: @medium-green;
    text-transform: none; // just want to be explicit
  });

  &[disabled] {
    .parsley-btn-invariant({
      background-color: @white;
      border-color: @btn-gray;
      color: @btn-gray;
    });
  }
}

.btn-info {
  .parsley-btn-invariant({
    background-color: @btn-gray;
    border-color: @btn-gray;
    height: @btn-height;
    font-size: @font-size-base;
    padding: @padding-btn;
    color:@white;
    text-align: center;
    box-shadow: none;
  })
}

.btn-info.active {
  .parsley-btn-invariant({
    background-color: @medium-green;
    border-color: @medium-green ;
  })
}

.btn-warning {
  .parsley-btn-invariant({
    @all-button-rules();
    @outlined-button-rules();
    background-color: @white;
    color: @btn-gray;
    border-color:@btn-gray;
    text-transform: lowercase;
  })
}

.btn-danger {
  .parsley-btn-invariant({
    @all-button-rules();
    @outlined-button-rules();
    background-color: @white;
    border-color: @medium-green;
    color: @medium-green;
    text-transform: uppercase;
    margin-right: 5px;
  });

  &[disabled] {
    .parsley-btn-invariant({
      background-color: @white;
      border-color: @btn-gray;
      color: @btn-gray;
    });
  }
}

.btn.tagFilter {
  .parsley-btn-invariant({
    text-align: left;
  })
}

input.form-control {
  height: @input-height;
  border: @border-input;
  display: inline-block;
  min-width: 50px;
  padding:4px;
}

.form-control:focus {
  border-color: @border-input-color;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px @medium-grey, 0 0 8px @border-input-color;
  box-shadow: inset 0 1px 1px @medium-grey, 0 0 8px @border-input-color;
}

.has-success .form-control {
  border-color: @border-input-color;
}

// Dealing with a big brand image: let it take up the whole height of the navbar...
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
// ...but don't let it get any bigger and overflow
.navbar-brand > img {
  max-height: 100%;
}

.navbar-header {
  padding: 10px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: @white;
  border-bottom: 1px solid @dark-green;


  .navbar-nav > li > a {
    color:@navbar-color;
    font-size: @font-size-base;
    padding: 16px;
    background-color: @white;
    border-top: 8px solid transparent;
  }

  .navbar-nav > li.active > a {
    color:@navbar-color;
    border-top-color: @medium-green;
    background-color: @white;

    &:focus, &:hover {
      background-color: @white;
      color: @black;
    }

  }

  .navbar-nav > li.account-dropdown {
    & > a {
      color: @light-green;
      text-align: right;

      &:focus, &:hover {
        color: @medium-green;
      }

      .nav-dropdown-title {
        display: inline-block;
      }

      .nav-dropdown-username, .nav-dropdown-business-name {
        display: inline;
      }

      .nav-dropdown-business-name {
        font-size: 15px;
        font-weight: 400;
      }

      span.caret {
        position: absolute;
        top: 50%;
        right: 0;
      }
    }

    & > ul.dropdown-menu {
      #sign-out-button {
        font-weight: bold;
      }

      #switch-account-button {
        color: @dark-green;
      }
    }
  }
}

.nav.nav-tabs {
  .active a {
    border-top-color: @dark-green
  }
}


@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  //border-top-color: #80cc28;
  border-top-color:@medium-green;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  //background-color:#ffffff ;
  background-color: @white;
}

.container-fluid {
  // like fluidity, don't like the expansion to arbitrary sizes
  // max-width: @container-lg;
  max-width: 1300px;
}

#app-message {
  padding: 12px;
  display: none;
  color: @state-danger-text;
}

@brand-primary: @black-green;

// can't be bothered to figure out serving node_modules assets directly to
// clients, so just use the CDN
@icon-font-path: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/fonts/";
@screen-md-min: 900px; // to fit the minimum width we can fit the non-hamburger menu

.plan-option {
  cursor: pointer;
}

.select-plan-top-button {
  margin-top: @line-height-computed; // to match top margin of "Select a Plan" h2 next to it
}
