@this(common: Common)
@()(implicit request: RequestHeader)

@common("Parsley",
  "js/app.bundle.js",
  routes.Assets.versioned("app/main.css"),
) {
  <link rel="stylesheet" media="print" href="@routes.Assets.versioned("app/print.css")">
} {
  <div id="app-container"></div>
  <!-- TODO: loading spinner or something -->
  <div id="section-to-print"></div>
}
<script type='text/javascript'>

  (function() {

    var beforePrint = function() {
      // nothing to do here
    };
    var afterPrint = function() {
      document.getElementById('section-to-print').innerHTML = ''; // clear content after print always
    };

    if (window.matchMedia) {
      var mediaQueryList = window.matchMedia('print');
      mediaQueryList.addListener(function(mql) {
        if (mql.matches) {
          beforePrint();
        } else {
          afterPrint();
        }
      });
    }

    window.onbeforeprint = beforePrint;
    window.onafterprint = afterPrint;
  }());

</script>